#Transaction{
    
    height: auto;
    margin: 20px auto;
    padding: 20px;
    margin-top: 60px;
    margin-left: 110px;
    margin-right: -20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    gap: 20px;
}

.Transaction-titles{
    width: 100%;
    text-align: start;
    border-bottom: 1px solid #000;
    margin-bottom: 10px;
}


.tableHeader{
    padding: 10px;
    background-color: #f1f1f1;
    border-bottom : 1px solid #ccc;
    text-align: left;
}

.tableCell{
    padding: 10px;
    padding-bottom: 15px;
  border-bottom: 1px solid #ccc;
  
}

.pagination{
    padding: 20px;
    justify-content: center;
}

.pagination button{
    margin: 10px;
    padding: 5px 10px;
    justify-content: center;
}

.pagination button:hover {
  color: #ffffff;
  background: #008cff;
  border: 1px solid #008cff;
  box-shadow: 0 0 5px #008cff, 0 0 20px #008cff, 0 0 50px #008cff,
    0 0 100px #008cff;
}
