
.dashboard {

  width: 100% !important;
  position: relative;
}

.row {
  display: flex;
  margin-left: -30px;
  margin-right: -60px;
  width: auto;
}


.typestwo{
  display: flex;
  gap: 10px;
  margin-top: -14px;
  width: 102%;
}

.col-lg-12{
  margin-right: -20px;
}

.col-12{
  margin-top: -55px;
  margin-right: 40px;
  width: 103%;
}

.typestwo .col-6 {
  flex: 1;
}





