


.header-nav ul {
  margin: 0;
  padding: 10px;
  list-style: none; 
}



.header-nav i {
  font-size: 1.5rem; 
  color: #012970; 
  cursor: pointer;
}

.header-nav span {
  font-size: 1rem; 
  color: #012970;
  cursor: pointer;
}


